@model Department

<h1> Edit Department</h1>
<br />
<br />

<form asp-action="Edit" >
    
    <partial name="PartialView/CreateEditDepartmentPartialView"></partial>
    <input type="submit" value="Edit" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>

</form>
@section validate{
    <partial name="_ValidationScriptsPartial"></partial>
}
