
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@* <div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p>Password reset link has been sent to your email. Please check your inbox</p>
        </div>
        <div>
            <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
        </div>
	
    </div>
</div> *@
<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p>Password reset link has been sent to your email. Please check your inbox.</p>
        </div>
        <div>
            <a href="https://mail.google.com/mail/u/0/#inbox" style="color: #007bff; text-decoration: underline;">Your Inbox</a>
        </div>
    </div>
</div>

