@model userViewModel

<div>
    <label asp-for="Id" class="col-form-label"></label>
    <input type="text" asp-for="Id" class="form-control" readonly />
</div>
<div>
    <label asp-for="FName" class="col-form-label"></label>
    <input type="text" asp-for="FName" class="form-control" readonly />
</div>
<div>
    <label asp-for="LName" class="col-form-label"></label>
    <input type="text" asp-for="LName" class="form-control" readonly />
</div>

<div>
    <label asp-for="Email" class="col-form-label"></label>
    <input type="text" asp-for="Email" class="form-control" readonly />
</div>
<div>
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input type="text" asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div>
    <label asp-for="Roles" class="col-form-label"></label>
    <input type="text" asp-for="Roles" class="form-control" readonly />
</div>


