@model EmployeeViewModel

<h1>Create New Employee</h1>
<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">

    <partial name="PartialViews/CreateEditEmployeePartialView"></partial>

    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5" >Back To List</a>
 

</form>
 @section validate{
    <partial name="_ValidationScriptsPartial"></partial>
 }

